#main-footer {
  padding: 2em;
  background: black;
  color: white;
  text-align: center;
  position: relative;
  z-index: 0;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

@media (min-width: 1000px) {
  #main-footer div {
    grid-column: span 2;
  }

  #map {
    height: 500px;
  }
}
