#section-a {
  background: black;
  color: #fff;
  height: 100vh;
}

#scene-wrap {
  transition: all ease 2s;
}

#section-a h2 {
  margin: 0;
  padding-top: 40%;
  padding-bottom: 30px;
  font-weight: normal;
  font-family: var(--main-landing-font);
}

#section-a p {
  line-height: 35px;
}

@media (min-width: 1000px) {
  #section-a {
    background: #090909;
    line-height: 32px;
    height: 300px;
  }

  #section-a h2 {
    padding-top: 65px;
    padding-bottom: 25px;
  }

  #scene-wrap {
    transform: none;
  }
}
