#section-a {
  background-color: linear-gradient(
    180deg,
    rgba(9, 9, 9, 1) 0%,
    rgba(83, 83, 83, 0.9051995798319328) 65%,
    rgba(219, 219, 219, 0.7399334733893557) 100%
  );
  color: #fff;
  height: 1500px;
}

#section-a h2 {
  margin: 0;
  padding-top: 300px;
  padding-bottom: 15px;
  font-weight: normal;
  font-family: var(--main-landing-font);
}

@media (min-width: 1000px) {
  #section-a {
    background-color: #090909;
    line-height: 32px;
    height: 300px;
  }

  #section-a h2 {
    padding-top: 65px;
    padding-bottom: 25px;
  }
}
