#section-b {
  height: 140vh;
  font-size: 12.5px;
}

#section-b h1,
#section-b p {
  margin: 0;
}

#section-b a {
  display: block;
  position: relative;
  top: 45%;
  left: 15%;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

#physio-btn,
#chiro-btn {
  border: none;
  color: white;
  background-color: tomato;
}

#physio-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: solid 2px black;
}

#chiro-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: solid 2px white;
}

#section-b .physio {
  color: black;
  height: 70vh;
  z-index: -1;
}

#section-b .scrollmagic-pin-spacer {
  z-index: 0;
  color: pink;
}

#physio-overlay {
  height: 70vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
}

.section-b-title {
  text-align: start;
  position: relative;
  top: 25%;
  left: 15%;
  text-transform: uppercase;
  font-size: 2.25em;
  letter-spacing: 5px;
  width: 100px;
}

.section-b-subtitle {
  text-align: start;
  position: relative;
  top: 25%;
  left: 15%;
  font-size: 1.5em;
  letter-spacing: 3px;
  width: 300px;
}

.section-b-name {
  text-transform: capitalize;
  font-size: 1.25em;
  letter-spacing: 3px;
  margin-left: 10px;
}

.section-b-text {
  text-align: start;
  position: relative;
  top: 30%;
  left: 15%;
  width: 300px;
}

.physio-image {
  position: absolute;
  background: #333 url(../../img/physio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  z-index: -1;
}

#section-b .chiro {
  color: white;
  height: 70vh;
}

#chiro-overlay {
  height: 70vh;
  width: 100vw;
  background-color: #2691d4b2;
}

#section-b h2 {
  margin: 0;
}

.chiro-image {
  position: absolute;
  background: #333 url(../../img/chiro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  z-index: -1;
}

.chiro p {
  margin: 0;
}

@media (min-width: 1000px) {
  #section-b {
    height: 90vh;
    font-size: 16px;
  }

  #section-b .physio {
    height: 90vh;
    width: 50vw;
  }

  #physio-overlay {
    height: 90vh;
    width: 50vw;
  }

  .section-b-title,
  .section-b-subtitle,
  .section-b-text,
  #section-b a {
    left: 20%;
  }

  #section-b a {
    width: 375px;
    top: 40%;
  }

  .section-b-text {
    width: 375px;
  }

  .physio-image {
    width: 50vw;
    height: 90vh;
    background-attachment: fixed;
  }

  #section-b .chiro {
    height: 90vh;
    width: 50vw;
  }

  .chiro-image {
    width: 50vw;
    height: 90vh;
    background-attachment: fixed;
  }

  .physio,
  .chiro {
    grid-column: span 2;
  }
}
