#section-a {
  background-color: #333;
  color: #fff;
  height: 300px;
}

#section-a h2 {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 15px;
  font-weight: normal;
  font-family: var(--main-landing-font);
}

@media (min-width: 1000px) {
  #section-a {
    line-height: 32px;
  }

  #section-a h2 {
    padding-top: 65px;
    padding-bottom: 25px;
  }
}
